@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #FFCCBE;
    }
    h1 {
        color: #AD3E51;
        text-shadow: 2px 2px 5px black;
    }
    img{
        width: 50vw ;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to my wholesome app, dear student</h1>
    <img src="images/aw.jpg"/>
</div>
