@model IEnumerable<SchoolApp.Models.Group>

@foreach(var group in Model) {
    <div>
        <button type="button" class="btn btn-warning">
            Edit
        </button>
        <button type="button" class="btn btn-danger">
            Delete
        </button>
        
        @group.GroupName
        <p></p>
    </div>
}