@model SchoolApp.Models.Group

<div>
    <a class="btn btn-outline-success" href="/Messages/New/@ViewBag.GroupId">Post Message</a>
    <a class="btn btn-outline-success" href="/Messages/Show/@ViewBag.GroupId">See messages</a>

</div>